@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap');

/*------------------------------------------------------------------
Project:	Zoner - Real Estate HTML Template
Version:	1.0
Last change:	11.1.2015
Assigned to:	ThemeStarz

[Table of contents]

1. Elements styling
2. Styling for specific pages
3. Universal Classes
4. Header
5. Footer
6. Content
7. Responsive

[Color codes]

Default: #1396e2;
Grey dark: #2a2a2a;
Grey medium: #5a5a5a;
Grey light: #f3f3f3;

[Typography]

   <div class="item">
      <div class="checkbox-rect">
        <input type="checkbox" id="checkbox-rect1" name="check">
        <label for="checkbox-rect1">Check one</label>
      </div>
    </div>

    <div class="item">
      <div class="checkbox-rect2">
        <input type="checkbox" id="checkbox-rect2" name="check">
        <label for="checkbox-rect2">Check one</label>
      </div>
    </div>

Body copy:		'Roboto', sans-serif; 14px;
Headers:		'Roboto', sans-serif;

-------------------------------------------------------------------*/

.item-box {
    margin-bottom: 1em;
    text-align: left;
}

legend {
    background-color: rgb(223, 243, 248);
    color: rgb(7, 159, 197);
    padding: 5px 12px;
    margin-bottom: 5px;
    font-weight: 600;
    width: 100px;
    text-align: center;
}

fieldset {
    border: 1px solid #d4e8f5;
    padding: 0 10px 5px;
    margin-bottom: 10px;
    text-align: start;
}

.filter {
    text-align: start;
    margin-top: 8px;
}

.filter .btn-filter:first-child {
    background-color: #02222e;
    border: 1px solid #02222e;
    color: #ffffff;
}

.filter .btn-filter {
    background: #ddedf5;
    border: 1px solid #02222e;
    color: #000;
    height: 40px;
    line-height: 25px;
    padding-left: 20px;
    padding-right: 20px;
    letter-spacing: 0.03em;
    font-weight: 600;
    margin-right: 10px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    transition: all 500ms;
}

.filter .btn-filter:hover {
    border: 1px solid #02222e;
    background-color: #02222e;
    color: #FFFFFF;
}


/* checkbox-rect */

.checkbox-rect input[type="checkbox"] {
    display: none;
}

.checkbox-rect input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px "Open Sans", Arial, sans-serif;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkbox-rect input[type="checkbox"]:hover+label:hover {
    color: rgb(23, 86, 228);
}

.checkbox-rect input[type="checkbox"]:hover+label:before {
    background: #50565a;
    box-shadow: inset 0px 0px 0px 2px #f7f2f2;
}

.checkbox-rect input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
}

.checkbox-rect input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #343a3f;
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: #f3f3f3;
}

.checkbox-rect input[type="checkbox"]:checked+label:before {
    width: 1.3em;
    height: 1.3em;
    border-radius: 0.2em;
    border: 2px solid #fff;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    background: #50565a;
    box-shadow: 0 0 0 1px #000;
}


/* checkbox-rect end */


/* checkbox-rect2 */

.checkbox-rect2 input[type="checkbox"] {
    display: none;
}

.checkbox-rect2 input[type="checkbox"]+label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    color: rgb(43, 40, 40);
    font-size: 15px;
    cursor: pointer;
    font-family: 'Poppins' sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkbox-rect2 input[type="checkbox"]:hover+label:hover {
    color: rgb(23, 86, 228);
}

.checkbox-rect2 input[type="checkbox"]:hover+label:before {
    border: 2px solid #198ff0;
}

.checkbox-rect2 input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
}

.checkbox-rect2 input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 2px solid #0d75ca;
    border-radius: 0.2em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: rgba(56, 90, 241, 0.03);
    background: #f3f3f3;
}

.checkbox-rect2 input[type="checkbox"]:checked+label:before {
    border: 2px solid #fff;
    border-radius: 0.3em;
    background: #1195ec;
    box-shadow: 2px 1px 0 #1d8cd6;
}


/* checkbox-rect2 end */


/* checkbox-circle */

.checkbox-circle input[type="checkbox"] {
    display: none;
}

.checkbox-circle input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px "Open Sans", Arial, sans-serif;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkbox-circle input[type="checkbox"]:hover+label:hover {
    color: rgb(23, 86, 228);
}

.checkbox-circle input[type="checkbox"]:hover+label:before {
    border: 1px solid #343a3f;
    width: 1.2em;
    height: 1.2em;
    border: 2px solid #fff;
    background: #50565a;
    box-shadow: 0 0 0 1px #000;
}

.checkbox-circle input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
}

.checkbox-circle input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #343a3f;
    border-radius: 1em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, transform 0.3s ease-in-out;
    transition: all 0.2s, transform 0.3s ease-in-out;
    background: #f3f3f3;
}

.checkbox-circle input[type="checkbox"]:checked+label:before {
    border-radius: 1em;
    border: 2px solid #fff;
    width: 1.2em;
    height: 1.2em;
    background: #50565a;
    box-shadow: 0 0 0 1px #000;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}


/* checkbox-circle end */


/* checkbox-circle2 */

.checkbox-circle2 input[type="checkbox"] {
    display: none;
}

.checkbox-circle2 input[type="checkbox"]+label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px "Open Sans", Arial, sans-serif;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkbox-circle2 input[type="checkbox"]:hover+label:hover {
    color: rgb(23, 86, 228);
}

.checkbox-circle2 input[type="checkbox"]:hover+label:before {
    border: 1px solid #343a3f;
    box-shadow: 2px 1px 0 #343a3f;
}

.checkbox-circle2 input[type="checkbox"]+label:last-child {
    margin-bottom: 0;
}

.checkbox-circle2 input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.4em;
    height: 1.4em;
    border: 1px solid #343a3f;
    border-radius: 1em;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all 0.2s, background 0.2s ease-in-out;
    transition: all 0.2s, background 0.2s ease-in-out;
    background: #f3f3f3;
    box-shadow: -2px -1px 0 #343a3f;
}

.checkbox-circle2 input[type="checkbox"]:checked+label:before {
    border-radius: 1em;
    border: 2px solid #fff;
    width: 1.15em;
    height: 1.15em;
    background: #50565a;
    box-shadow: 2px 1px 0 #50565a;
}


/* checkbox-circle2 end */


/* toggle-rect */

.toggle-rect input[type="checkbox"] {
    display: none;
}

.toggle-rect input[type="checkbox"]+label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    border-radius: 0.2em;
    background: #f3f3f3;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.toggle-rect input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 0.2em;
    background: #50565a;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.toggle-rect input[type="checkbox"]:checked+label {
    background: #fff;
}

.toggle-rect input[type="checkbox"]:checked+label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.6em;
}


/* toggle-rect end*/


/* toggle-rect-bw */

.toggle-rect-bw input[type="checkbox"] {
    display: none;
}

.toggle-rect-bw input[type="checkbox"]+label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    background: #50565a;
    border-radius: 0.2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.toggle-rect-bw input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 0.2em;
    background: #f7f2f2;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.toggle-rect-bw input[type="checkbox"]:checked+label {
    background: #40464a;
}

.toggle-rect-bw input[type="checkbox"]:checked+label:before {
    left: 1.6em;
}


/* toggle-rect-bw end*/


/* toggle-rect-color */

.toggle-rect-color input[type="checkbox"] {
    display: none;
}

.toggle-rect-color input[type="checkbox"]+label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    background: #e84d4d;
    border-radius: 0.2em;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.toggle-rect-color input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 0.2em;
    background: #50565a;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.toggle-rect-color input[type="checkbox"]:checked+label {
    background: #47cf73;
}

.toggle-rect-color input[type="checkbox"]:checked+label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.6em;
}


/* toggle-rect-color end*/


/* toggle-rect-color */

.toggle-rect-dark input[type="checkbox"] {
    display: none;
}

.toggle-rect-dark input[type="checkbox"]+label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    background: #303e58;
    border-radius: 0.2em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.toggle-rect-dark input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 0.2em;
    background: #e84d4d;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.toggle-rect-dark input[type="checkbox"]:checked+label:before {
    background: #47cf73;
    left: 1.6em;
}


/* toggle-rect-dark end*/


/* toggle-pill */

.toggle-pill input[type="checkbox"] {
    display: none;
}

.toggle-pill input[type="checkbox"]+label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    border-radius: 1em;
    background: #f3f3f3;
    box-shadow: inset 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

.toggle-pill input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background: #50565a;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.toggle-pill input[type="checkbox"]:checked+label {
    background: #fff;
}

.toggle-pill input[type="checkbox"]:checked+label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.6em;
}


/* toggle-pill end */


/* toggle-pill-bw */

.toggle-pill-bw input[type="checkbox"] {
    display: none;
}

.toggle-pill-bw input[type="checkbox"]+label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    background: #50565a;
    border-radius: 1em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

.toggle-pill-bw input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background: #f7f2f2;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.toggle-pill-bw input[type="checkbox"]:checked+label {
    background: #40464a;
}

.toggle-pill-bw input[type="checkbox"]:checked+label:before {
    left: 1.6em;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/* toggle-pill-bw end */


/* toggle-pill-color */

.toggle-pill-color input[type="checkbox"] {
    display: none;
}

.toggle-pill-color input[type="checkbox"]+label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    border-radius: 1em;
    background: #e84d4d;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

.toggle-pill-color input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.toggle-pill-color input[type="checkbox"]:checked+label {
    background: #47cf73;
}

.toggle-pill-color input[type="checkbox"]:checked+label:before {
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.6em;
}


/* toggle-pill-color end */


/* toggle-pill-color */

.toggle-pill-dark input[type="checkbox"] {
    display: none;
}

.toggle-pill-dark input[type="checkbox"]+label {
    display: block;
    position: relative;
    width: 3em;
    height: 1.6em;
    margin-bottom: 20px;
    border-radius: 1em;
    background: #303e58;
    box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-transition: background 0.1s ease-in-out;
    transition: background 0.1s ease-in-out;
}

.toggle-pill-dark input[type="checkbox"]+label:before {
    content: "";
    display: block;
    width: 1.2em;
    height: 1.2em;
    border-radius: 1em;
    background: #e84d4d;
    position: absolute;
    left: 0.2em;
    top: 0.2em;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.toggle-pill-dark input[type="checkbox"]:checked+label:before {
    background: #47cf73;
    box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
    left: 1.6em;
    -webkit-transform: rotate(295deg);
    transform: rotate(295deg);
}


/* toggle-pill-dark end */


/* MODAL
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.gmodal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.384);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.gmodal.is-visible {
    visibility: visible;
    opacity: 1;
}

.gmodal-dialog {
    position: relative;
    width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background-color: #fff;
    overflow: auto;
    cursor: default;
}

.gmodal-dialog>* {
    padding: 1rem;
}

.gmodal-header,
.gmodal-footer {
    background-color: #cee5f3;
}

.gmodal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    color: #02222e;
    text-transform: uppercase;
}

.gmodal-header .close-modal {
    font-size: 1.5rem;
}

.gmodal p {
    color: #000;
    font-weight: normal;
}


/* ANIMATIONS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

[data-animation] .gmodal-dialog {
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.51, 0.92, 0.24, 1.15);
}

[data-animation].is-visible .gmodal-dialog {
    opacity: 1;
    transition-delay: 0.2s;
}

[data-animation="slideInOutDown"] .gmodal-dialog {
    transform: translateY(100%);
}

[data-animation="slideInOutTop"] .gmodal-dialog {
    transform: translateY(-100%);
}

[data-animation="slideInOutLeft"] .gmodal-dialog {
    transform: translateX(-100%);
}

[data-animation="slideInOutRight"] .gmodal-dialog {
    transform: translateX(100%);
}

[data-animation="zoomInOut"] .gmodal-dialog {
    transform: scale(0.2);
}

[data-animation="rotateInOutDown"] .gmodal-dialog {
    transform-origin: top left;
    transform: rotate(-1turn);
}

[data-animation="mixInAnimations"].is-visible .gmodal-dialog {
    animation: mixInAnimations 2s 0.2s linear forwards;
}

[data-animation="slideInOutDown"].is-visible .gmodal-dialog,
[data-animation="slideInOutTop"].is-visible .gmodal-dialog,
[data-animation="slideInOutLeft"].is-visible .gmodal-dialog,
[data-animation="slideInOutRight"].is-visible .gmodal-dialog,
[data-animation="zoomInOut"].is-visible .gmodal-dialog,
[data-animation="rotateInOutDown"].is-visible .gmodal-dialog {
    transform: none;
}

@keyframes mixInAnimations {
    0% {
        transform: translateX(-100%);
    }
    10% {
        transform: translateX(0);
    }
    20% {
        transform: rotate(20deg);
    }
    30% {
        transform: rotate(-20deg);
    }
    40% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(-15deg);
    }
    60% {
        transform: rotate(10deg);
    }
    70% {
        transform: rotate(-10deg);
    }
    80% {
        transform: rotate(5deg);
    }
    90% {
        transform: rotate(-5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}